
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body data-sidebar="dark">
    <div class="">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0 font-size-18">Dashboard</h4>
                        </div>
                    </div>
                </div>
                <div class="card overflow-hidden">
                    <div class="bg-soft" style="background-color:darkslategrey">
                        <div class="row">
                            <div class="col-7">
                                <div class="p-3">
                                    <h5 class="text-center text-white font-size-24">Welcome To <span style="font-family:Algerian">Pranto IT</span> Admin Panel !</h5>
                                    <p class="text-center text-white">Developed by <span style="color:red">Pranto</span></p>
                                </div>
                            </div>
                            <div class="col-5 align-self-end">
                                <img src="~/assets/profile-img.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>                   
                </div>               
            </div>
        </div>
       
       
    </div>
</body>
