
@{
    ViewBag.Title = "ApplyJobConfirm";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<head>


    <link href="~/assets/jobcss/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />

</head>

<body class="body loader-loading">

    <section>
        <div class="flexslider screen-height">
            <div class="slides">
                <div class="slide">
                    <img src="" alt="" data-cover-image="true">
                    <div class="theme-back"></div>
                    <div class="pos-center col-12 container">
                        
                    </div>
                </div>              
            </div>           
        </div>
    </section>

    <section class="content-section" data-inview-showup="showup-translate-up">
        <div class="container">
            <div class="flex cols-xl rows-lg">

                <div class="my-auto text-left md-col-6">
                    <h3 class="text-left text-upper">Congratulation Your Application has been sumbmitted</h3>
                    <p class="text-left">
                        Stay with <span style="font-family:Algerian">pranto it</span>
                    </p>
                    @*<a class="btns-bordered btn " href="/Home/ContactUs">Contact us</a>*@
                </div>
                <div class="md-col-6"><img class="image" src="~/Pictures/5-Design-5.png" alt=""></div>
            </div>
        </div>
    </section>


    <script src="~/assets/js/pages/form-validation.init.js"></script>
</body>

