
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_LayoutRegis.cshtml";
}


<body>
    <div class="account-pages my-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card overflow-hidden">
                        
                        <div class="card-body pt-0">
                            
                            <div class="p-2">
                                <form class="form-horizontal" @*action="/UserLogin/Application_BeginRequest" method="post"*@>

                                    <div class="mb-3">
                                        <label for="username" class="form-label">Username</label>
                                        <input type="text" class="form-control" id="username" placeholder="Enter username">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">Password</label>
                                        <div class="input-group auth-pass-inputgroup">
                                            <input type="password" id="password" class="form-control" placeholder="Enter password" aria-label="Password" aria-describedby="password-addon">
                                            <button class="btn btn-light " type="button" id="password-addon"><i class="mdi mdi-eye-outline"></i></button>
                                        </div>
                                    </div>

                                    @*<div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="remember-check">
                                            <label class="form-check-label" for="remember-check">
                                                Remember me
                                            </label>
                                        </div>*@

                                    <div class="mt-2 d-grid">
                                        <button class="btn btn-primary waves-effect waves-light" onclick="GetData()" type="button">Log In</button>
                                    </div>

                                    @*<div class="mt-4 text-center">
                                            <h5 class="font-size-14 mb-3">Sign in with</h5>

                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <a href="javascript::void()" class="social-list-item bg-primary text-white border-primary">
                                                        <i class="mdi mdi-facebook"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="javascript::void()" class="social-list-item bg-info text-white border-info">
                                                        <i class="mdi mdi-twitter"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="javascript::void()" class="social-list-item bg-danger text-white border-danger">
                                                        <i class="mdi mdi-google"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>*@

                                    
                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="text-center">
                        <div>
                            <p>Don't have an account ? <a href="/UserRegistration/SignUp" class="fw-medium text-primary"> Signup now </a> </p>
                           
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
@section Scripts{
    <script src="~/assets/libs/jquery/jquery.min.js"></script>
    <script>

        $(document).ready(function () {

        });




        function GetData()
        {
            //if (Validation()) {
                if ($("#username").val().trim() != "" && $("#password").val().trim() != "")
            {

            var userid = $("#username").val();
            var pass = $("#password").val();

            $.ajax({
                url: "/UserLogin/GetLoginInfo",
                type: "GET",
                data: { username: userid, password:pass},
                        //dataType: "json",
                        contentType: "application/json",
                success: function (response)
                {
                            var check = response;

                            if (check != 'fail')
                            {
                                window.location = "@Url.Action("Index", "AdminDashboard")";
                            }
                            else
                            {
                             alert('Login Failed. Please try again ! ');
                             //window.location.href = "@Url.Action("SignIn", "UserLogin")";
                            }
                },
                     error: function ()
                     {

                         //alert("Login Fail!!!");

                     }
                 });

            }
            //}
        }

        function Reg() {
            var url = '@Url.Action("SignUp", "UserAccountReg")';
            window.location.href = url;

        }





    </script>
}