<!DOCTYPE html>
<html>
<!-- Mirrored from amigosthemes.com/profix/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 13 Jan 2022 22:52:53 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<!-- /Added by HTTrack -->
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    @*<title>innovateit - Computer & Mobile Phone Repair Service Company HTML5 Template</title>*@
    <link href="~/assetsx/animate.css/animate.min.css" rel="stylesheet" type="text/css">
    <link href="~/assetsx/fontawesome/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,800,900" rel="stylesheet">
    <link href="~/assetsx/chosen/chosen.min.css" rel="stylesheet" type="text/css">
    <link href="~/assetsx/jquery-ui-custom/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="~/assetsx/pentix/css/pentix.min.css" rel="stylesheet" type="text/css">
    <link href="~/assetsx/css/pex-theme.min.css" rel="stylesheet" type="text/css">
</head>

<body class="body loader-loading" style="font-family:'Times New Roman'"onselectstart="return false">
    
    @RenderBody()
    
    @*<a href="#" class="text-left scroll-top disabled"><i class="fas fa-angle-up" aria-hidden="true"></i></a>*@
    <div class="singlepage-block collapse alt-bg" data-block="search" data-show-block-class="animation-scale-top-right" data-hide-block-class="animation-unscale-top-right">
        <a href="#" class="close-link" data-close-block><i class="fas fa-times" aria-hidden="true"></i></a>
        <div class="pos-v-center col-12">
            <div class="container">
                <form action="#">
                    <div class="row cols-md rows-md">
                        <div class="lg-col-9 md-col-8 sm-col-12">
                            <div class="field-group">
                                <div class="field-wrap"><input class="field-control" name="search" placeholder="Search Tags" required="required"> <span class="field-back"></span></div>
                            </div>
                        </div>
                        <div class="lg-col-3 md-col-4 sm-col-6"><button class="btn btns-white-bordered text-upper" type="submit">search</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
    <script src="~/assetsx/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/assetsx/parallax.js/parallax.min.js"></script>
    <script src="~/assetsx/flexslider/jquery.flexslider-min.js"></script>
    <script src="~/assetsx/owlcarousel2/owl.carousel.min.js"></script>
    <script src="~/assetsx/shuffle/shuffle.min.js"></script>
    <script src="~/assetsx/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/assetsx/chosen/chosen.jquery.min.js"></script>
    <script src="~/assetsx/jquery-ui-custom/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assetsx/pentix/js/pentix.min.js" type="text/javascript"></script>
    <script src="~/assetsx/js/script.js" type="text/javascript"></script>
    
    
</body>
</html>