

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}



<body class="body loader-loading">

    <section class="text-center content-section">
        <div class="container">
            <img class="image offs-md" src="~/InnovateITAllContent/404.png" alt="" data-inview-showup="showup-scale">
            <div class="section-head text-center container-md">
                <h2 class="section-title text-upper text-lg" data-inview-showup="showup-translate-right">Error</h2>
                <p data-inview-showup="showup-translate-left">This page could not be found!</p>
            </div>
            <a class="btn text-upper" href="https://www.innovateitbd.com/" data-inview-showup="showup-translate-up">back to homepage</a>
        </div>
    </section>


</body>